h1 {
    font-size: 61px;
    font-family: inter;
    font-weight: 700;
}



.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 95%;
    max-width: 1208px;
    /* padding: 16px; */
}

.board-header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    /* padding-top:2px; */
}

.input-box-desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 312px;
}

.input-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    background: white;
}

.input-box input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 18px;
}

.input-box-right {
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.input-search-icon img {
    width: 24px;
    height: 24px;
}

.add-task-button:hover {
    background-color: #27abe2;
}

.add-task-button img {
    width: 24px;
    height: 24px;
}

.input-box-responsive {
    display: none;
    width: 100%;
    padding: 8px 16px;
}

.mobile-logo {
    display: none;
}


.header-text {
    display: block;
}


.board-bar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 252px;
    padding: 8px;
}

.board-bar-item h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 32px;
    height: 32px;
}

.icon-button img {
    width: 24px;
    height: 24px;
}

.board-column-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
    padding: 0 16px;
}

.task-board-container {
    width: 100%;
    max-width: 252px;
    min-height: 300px;
}

/* Tablet */
@media (max-width: 1024px) {
    .board-column-section {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        width: 100%;
        height: auto;
        padding: 24px 32px;
    }

    .task-board-container {
        width: 100%;
        margin-bottom: 32px;
    }

    .board-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 32px;
    }

    .board-header-input {
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    .task-search,
    .add-task-button {
        width: 100%;
    }

    .board-bar {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 8px;
        gap: 8px;
        overflow-x: auto;
        scrollbar-width: none;
        /* Firefox */
    }

    .board-bar>div {
        width: 100%;
        justify-content: space-between;
    }

    h2 {
        display: block;
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 16px;
        color: #2a3647;
        width: 100%;
        text-align: left;
    }

    .container {
        padding: 10px;
        gap: 20px;
    }

    .todo-section {
        width: 100%;
    }

    .container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .todo-section {
        width: 100%;
    }

    body {
        align-items: end;
    }
    
    .board-main{
        padding-left:0;
    }
}


@media (max-width: 900px){
    .form-div {
        flex-direction: column !important;
        max-height: 500px;
        overflow-y: auto;
        padding-top: 10px; 
        box-sizing: border-box;
        overflow-x: hidden;
    
       
        scrollbar-width: thin;
        scrollbar-color: #888 transparent;
    }
    
    .form-div::-webkit-scrollbar {
        width: 6px;  
    }
    
    .form-div::-webkit-scrollbar-track {
        background: transparent;
    }
    
    .form-div::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 3px;
    }
    
    .form-div::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
    
    .form-div::-webkit-scrollbar-button {
        display: none;
    }
    

    .main-section{
        height:86vh;
    }
    
    .form-left{
        width:100% !important;
    }


    .main-form-div{
        width: 100% !important ;
    }

    .form-right{
        width:100% !important;
    }


}

@media (max-width: 768px) {

    
    .mobile-logo {
        display: block;
    }

    
    .header-text {
        display: none;
    }

    
    .mobile-logo img {
        width: 40px;
        height: auto;
    }

    
    .header-right-side {
        display: flex;
        align-items: center;
        gap: 10px;
        
    }

    h1 {
        font-size: 36px;
    }

    .board-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    
    }

    .board-header-right {
        flex-direction: row;
        justify-content: space-between;
        width: 20%;
    }

    .input-box-desktop {
        display: none;
    }

    .input-box-responsive {
        display: block;
        width: 90%;
    }

    .board-header-input {
        gap: 8px;
    }

    .add-task-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        padding: 0;

    }


    .add-task-button span {
        display: none;
    }

    .add-task-button img {
        width: 20px;
        height: 20px;
    }

    .board-bar {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 95%;
        padding: 8px;
        gap: 8px;
        overflow-x: auto;
        scrollbar-width: none;
        
    }

    .board-bar::-webkit-scrollbar {
        display: none;
        
    }

    .board-bar-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 120px;
        padding: 8px;
        text-align: center;
    }

    .board-bar>div {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .icon-button img {
        width: 20px;
        height: 20px;
    }

    .task-board-container {
        width: 100%;
        max-width: none;
    }


    .board-bar>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .board-bar>div div {
        font-size: 18px;
        font-weight: 700;
    }

    .icon-button {
        width: 32px;
        height: 32px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    .icon-button img {
        width: 20px;
        height: 20px;
    }

    .board-column-section {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 8px;
        width: 100%;
    }

    .task-board-container {
        width: 100%;
        max-width: none;
        min-height: 200px;
        border-radius: 10px;
        padding: 8px;
    }



    .task-board-container h2 {
        display: block;
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 16px;
        color: #2a3647;
        text-align: center;
    }


    .footer-mid-div{
        padding-left:0 !important;
    }

    .footer{
        justify-content:center !important;
    }

}


@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .board-header {
        padding: 0 16px;
    }

    .board-header-input {
        gap: 8px;
    }

    .task-search {
        font-size: 14px;
    }

    .add-task-button {
        font-size: 14px;
    }

    .board-bar {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 8px;
        gap: 8px;
        overflow-x: auto;
        scrollbar-width: none;
        
    }

    .board-bar>div {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .icon-button img {
        width: 18px;
        height: 18px;
    }

    .footer-btn{
        flex-direction: column !important ;
        gap:8px;
    }

    .w445{
        width:90vw !important;
    }

    
    
}
